<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="userForm" (ngSubmit)="ngOnSubmit()">
                <h2 class="p-2">Projectlid Toevoegen</h2>
                <div class="form-group p-2">
                    <label for="name">Rol</label>

                    <input formControlName="role" class="form-control">
                </div>
                <div placeholder="Kies een eigenaar" class="form-group p-2">
                    <label for="name">Projectlid</label>

                    <select formControlName="user" class="form-control">
                        <option [ngValue]="null" selected disabled>Kies een nieuw lid</option>
                        <option *ngFor="let m of users" [ngValue]="m">
                            {{ m.displayName }}
                        </option>
                    </select>
                </div>
                <div class="form-group p-2">
                    <button type="submit" class="btn btn-primary">Toevoegen</button>
                  </div>
            </form>
            <div class="form-group">
                <p *ngIf="errorMessage.length > 0" class="text-danger">
                    {{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>