<div class="container">
    <div class="row justify-content-center p-4">
        <div class="col-md-6">
            <form (ngSubmit)="register()">
            <h3 class="p-2">Registreren</h3>
            <div class="form-group p-2">
                <input type="text" name="name" class="form-control" [(ngModel)]="name" placeholder="Naam" required>
            </div>
            <div class="form-group p-2">
                <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Emailadres" required>
            </div>
            <div class="form-group p-2">
                <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Wachtwoord"
                    required>
            </div>
            <div class="row p-2">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Registreren</button>
                </div>
                <div class="col">
                    <a routerLink="/login" class="btn btn-outline-primary float-right">Terug naar inloggen</a>
                </div>
            </div>
            </form>
            <div class="form-group">
                <p *ngIf="errorMessage.length > 0" class="text-danger">
                    {{errorMessage}}</p>
                
                <p *ngIf="error.message.length > 0" class="text-danger">
                    {{error.message}} </p>

                    <p *ngIf="message.length > 0" class="text-info">
                        {{message}} </p>
            </div>
        </div>

    </div>
</div>