<div class="row">
    <div class="col-12 mb-2">
        <h3 class="d-inline">Projectleden</h3>
        <a routerLink="user/add" class="btn btn-success d-inline-flex float-right">
            Nieuw lid toevoegen <span class="material-icons">add</span>
        </a>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Naam</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="d-flex justify-content-end">Acties</th>
                </tr>
            </thead>
            <tbody id="sprint">
                <tr *ngFor="let s of users | async">
                    <td>{{ s.name }}</td>
                    <td>{{ s.role }}</td>
                    <td class="d-flex justify-content-end">
                        <button *ngIf="s.role != 'Eigenaar'" (click)="ngLeave(s.key)" class="btn btn-danger d-inline-flex">
                            Project verlaten <span class="material-icons">exit_to_app</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>